<div class="flex mt30">
  <div class="middle">
<ngx-charts-bar-vertical
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)">
</ngx-charts-bar-vertical>
</div>
<div class="middle">
  <ng-container *ngFor="let item of legends">
    <div>
      <div class="typo2 whitecyan">{{ item.label }}</div>
      <div [class]="item.class">{{ item.value | number }}</div>
    </div>
  </ng-container>
  </div>
</div>